body {
  margin: 0;
  padding-top: 100px; /* navbar height */
  
}
.create-trip-wrapper {
  width: 100vw;
  min-height: 100vh;
}
.app-container {
  width: 100%;
  max-width: 100%;
}

.page-offset {
  margin-top: 80px;   /* height of navbar */
}
  