
body {
  margin: 0;
}

.create-trip-wrapper {
  width: 100vw;
  min-height: 100vh;
}
.app-container {
  width: 100%;
  max-width: 100%;
}


/* Global space below fixed navbar */
/* .page-container {
  padding-top: 60px;   /* same as navbar height */
/* } */

