/* HERO SECTION */
.about-hero {
  width: 100%;
  height: 50vh;
  background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470");
  background-size: cover;
  background-position: center;
  position: relative;
}

.about-hero-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-hero-overlay h1 {
  color: #fff;
  font-size: 3rem;
  letter-spacing: 2px;
}

/* CONTENT SECTION */
.about-content {
  background: #fff;
  padding: 60px 10%;
}
.about-hero:hover h1 {
  transform: scale(1.1);
}

.about-box h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  margin-top: 40px;
}

.about-box p {
  color: #555;
  line-height: 1.8;
  font-size: 1rem;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .about-hero {
    height: 50vh;
  }

  .about-hero-overlay h1 {
    font-size: 2.2rem;
  }

  .about-content {
    padding: 40px 5%;
  }
}
