/* HERO SECTION */
.about-hero {
  width: 100%;
  height: 65vh;
  margin-top: 70px; 
  padding-top: 230px;  
  background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470");
  background-size: cover;
  background-position: center;
  position: relative;
  filter: brightness(1.35) contrast(1.35);
}

.about-overlay {
  position: relative;
  z-index: 2;  
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-overlay h1 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 600;
}

.about-overlay h1:hover {
  transform: scale(1.1);
}


/* CONTENT SECTION */
.about-content {
  background: #fff;
  padding: 60px 10%;
}

.about-box h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  margin-top: 40px;
}

.about-box p {
  color: #555;
  line-height: 1.8;
  font-size: 1rem;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .about-hero {
    height: 50vh;
  }

  .about-hero-overlay h1 {
    font-size: 2.2rem;
  }

  .about-content {
    padding: 40px 5%;
  }
}
