.state-page{
  padding:120px 6% 80px;
  background:#f4f7fb;
}

/* HERO */
.state-hero{
  background:linear-gradient(135deg,#0d6efd,#00c6ff);
  color:white;
  padding:70px 20px;
  border-radius:20px;
  text-align:center;
  margin-bottom:60px;
}

.state-hero h1{
  font-size:2.8rem;
  margin-bottom:10px;
}

.state-hero p{
  font-size:1.1rem;
  opacity:0.9;
}

/* SECTION TITLE */
.section-title{
  text-align:center;
  margin-bottom:30px;
  font-size:1.9rem;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
  margin-bottom:70px;
}

/* CARD */
.card-box{
  background:white;
  border-radius:15px;
  overflow:hidden;
  box-shadow:0 8px 20px rgba(0,0,0,0.15);
  text-align:center;
  transition:0.3s;
}

.card-box:hover{
  transform:translateY(-8px);
}

.card-box img{
  width:100%;
  height:180px;
  object-fit:cover;
}

.card-box h4{
  margin:12px 0 5px;
}

.card-box p{
  margin:0 0 10px;
}

.price{
  color:#0d6efd;
  font-weight:bold;
}
